.hero-container {
    background-image: url("../mtm6201-midterm/images/gradient-banner.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px 0;
}

.hero-content {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 2rem;
    margin: auto;
    width: 80%;
  }